[global_config]
  title_transmit_fg_color = "#f8f8f8"
  title_transmit_bg_color = "#1e2424"
  title_inactive_fg_color = "#f8f8f8"
  title_inactive_bg_color = "#3c4848"

[profiles]
  [[Polykai]]
    palette = "#1e2424:#ff0060:#a0ff20:#ffe080:#6080ff:#c080ff:#40c4ff:#f8f8f8:#3c4848:#ff0060:#a0ff20:#ffe080:#6080ff:#c080ff:#40c4ff:#f8f8f8"
    foreground_color = "#f8f8f8"
    background_color = "#141818"
    cursor_color = "#f8f8f8"
